<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<!-- ..................................Bootsrap 4 CDN links............................... -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<style type="text/css">
	
	.from{
		
		border-radius: 10px;
		/* margin: 4%; */
		padding: 6%;
	}
	p{
		font-size: 17px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
        $("#model1").modal('show');
    });
</script>


<div class="modal fade bd-example-modal-lg"  id="model1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="section-head text-center">   <h4>Welcome to our Password Management System</h4>
			</div>
			<br>
			<div class="container">
				<h4>We are providing the service to our user to store his password details.</h4>
				<p> Because today life we have many account on many platform  so it is very difficult to learn all acounts  details. So the platform help you store your password details. </p>
   <h3>Features </h3>
   <p>1. Your All Detials is stored in eccripted form</p>
   <p>2. The Ecription and decription from is done with<b> privte key which is unique for each user</b> </p>
   <p>3.When you are register the <b>private key is automaticaly genrated </b></p>
	<p>Firstly you Register yourself</p>	
	<center> <button type="button" class="btn btn-info" data-dismiss="modal">Start</button></center>
	<br>	
</div>
    </div>
  </div>
</div>
<div class="back-img">
<div class="container" >
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12"></div>
	<div class="col-lg-6 col-md-6 col-sm-12">

			<div class="shadow from bg-white" style="margin-top: 10%;" >
				<center><h3>Registration Form</h3>
				<% if(msg!='')
				{%>
					<h4 class="text-info"><%= msg %></h4>
				<%}%>
				</center>

				<!-- < ...................................User Resgistration Form.................. -->
				<form autocomplete="off" action="/" method="post">
					<div class="form-group">
						<label>Enter Email</label>
						<input type="email" name="email" placeholder="Enter Your Email.." class="form-control" required="" autocomplete="off">
					</div>
					<div class="form-group">
						<label>Enter User Name</label>
						<input type="text" name="user" placeholder="Enter user Name.." class="form-control" required="" autocomplete="off">
					</div>
					<div class="form-group">
						<label>Enter Password</label>
						<input type="Password" name="pass" placeholder="Enter Your password.." class="form-control" required="" autocomplete="off">
					</div>
					<center><input type="submit" name="submit" value="Submit" class="btn btn-info" style="width: 250px;"></center>
        </form>
        <br>
        <p>if you have already an account <a href="/login"> Login</a></p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12"></div>
	</div>

</div>
</div>
</body>
</html>
